@mixin font-bebas{
    font-family: 'Bebas Neue', cursive;
} 
@mixin font-bebas{
    font-family: 'Lobster', cursive;
} 

body,html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.section-inner{
    width: 1180px;
    margin: 0 auto;
}

/* HEADER */

.section-header{
    display: flex;
    flex-direction: column;
}

.section-header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.section-header-top-logo{
    display: flex;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 49px;
    color:#3cc3b5;

}

.section-header-top-imgs{
    display: flex;
    align-items: center;
}

.section-header-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4ccfc1;
    height: 40px;
}

.section-header-bottom-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
    color: white;
}

.section-header-bottom-nav li a{
    text-decoration: none;
    color: white;
}

.section-header-bottom-nav li:not(:first-child){
    margin-left: 40px;
}


/* Slider */

.section-slider-top {
    display: flex;
    background-color: #42c4b5;
    justify-content: center;
    align-items: center;
}

.section-slider-top-wraper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.section-slider-top-img{
    display: flex;

}

.section-slider-top-titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 410px;
    margin-left: 100px;
}

.section-slider-top-titles-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 61px;
    color: white;
    width: 320px;
    line-height: 51px;
}

.section-slider-top-titles-des {
    font-size: 17px;
    color: white;
    font-family: 'Lobster', cursive;
    padding-top: 15px;

}

.section-slider-top-titles-button {
    padding-top: 15px;
}

.section-slider-top-titles-button button{
    color: white;
    background-color: #42c4b5;
    border-radius: 10px;
    height: 40px;
    outline: none;
    width: 135px;
    border-color: white;
    border: 2px solid;
}

.section-slider-top-ellipse {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.section-slider-top-ellipse img:not(:first-child){
    margin-left: 5px;
}


/* Slider-botton */

.section-slider-botton {
    display: flex;
}

.section-slider-botton-boxs {
    display: flex;
    justify-content: space-evenly;
}

.section-slider-botton-box {
    display: flex;
    align-items: center;
    width: 340px;
}

.section-slider-botton-box-titles {
    display: flex;
    flex-direction: column;
    width: 80px;
    padding-left: 20px;
}


.section-slider-botton-box-titles-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 27px;
    color: #afafaf;
}

.section-slider-botton-box-titles-button{

}

/* Featured products */

.section-featured {
    display: flex;
    background-color: #42c4b5;
    height: 70px;
    align-items: center;
}

.section-featured-products {
    display: flex;
    justify-content: flex-start;
    height: 70px;
    align-items: center;
    padding-left: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 31px;
    color: white;
}

/* Products */ 

.section-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-products-wraper{
    display: flex;
    padding-left: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 260px;
    width: 250px;
    border: 2px solid gainsboro;
    border-bottom: 5px solid green;
    margin-left: 50px;
    margin-top: 45px;
}

.section-product-img {

}

.section-product-title {

}

.section-product-sale {
    display: flex;
}

.section-product-sale-price {

}

.section-product-sale-button {

}

/* Footer */

.section-footer {
    background-color: #3cc3b5;
    margin-top: 45px;
}

.section-footer-wraper{
    display: flex;
    justify-content: space-around;
}

.section-footer-column{

}

.section-footer-column-title {

}